body {
    color: rgba(240, 231, 231, 0.774);
    background: rgb(0, 0, 0);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(red, green, blue)
}
